<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyDBConnection" connectionString="Data Source=LAPTOP-ATNH6G09\SQLEXPRESS;Initial Catalog=comser;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
